{% extends 'base.html' %}


{% block content %}
<div id="div_id_students" class="form-group">
            <label for="id_students" class="requiredField">Category</label>
            <div>
                <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Full Name </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in category_list %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" name="students" value="{{ student.id }}" id="student_{{ student.id }}">
                            </td>
                            <td>
                                <label class="form-check-label" for="student_{{ student.id }}">
                                    {{ student.name }}
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}


