{% extends 'base.html' %}
{% block content %}


<h4 class="text-muted mt-2">SubCategory List</h4>
    <ul class="metismenu list-unstyled" id="side-menu">
        {% for subcategory in subcategories %}
            <li >
                <a class="dropdown-item"  href="{% url 'subcategory_detail' subcategory.pk %}">{{ subcategory.name }}</a>
            </li>
        {% endfor %}
    </ul>
<div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Yangi o'quvchilar ro'yxati</h4>


                                </div>
                                <div class="card-body" style="overflow-x: auto;">

                                   <table class="datatable-buttons nowrap table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" cellspacing="0" aria-describedby="member-details_info">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th scope="col">#</th>
                                            <th scope="col">Ro'yxatga olingan o'quvchilar</th>
                                            <th scope="col">Tanlagan Kurs</th>
                                            <th scope="col">Telefon raqam</th>
                                            <th scope="col">Sana</th>
                                            <th scope="col" >Kursga qatnashishi</th>
                                            <th scope="col" >Tahrirlash</th>
                                            <th scope="col" >Username ochish</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in receiptions %}
                                        <tr style="text-align: center;">
                                            <th scope="row">{{ forloop.counter }}</th>
                                            <td scope="row"><a href="{% url 'edit_receiption' i.id %}">{{ i.full_name }}</a></td>
                                            <td scope="row">{{ i.course }}</td>

                                            <td scope="row">{{ i.phone_number}}</td>

                                            <td scope="row">{{ i.created_at|date:"d.m.Y" }}</td>
                                            <td scope="row">
                                                {% if i.status %}
                                                    <a href="{% url 'update-status' i.id %}">✅</a>
                                                {% else %}
                                                    <a href="{% url 'update-status' i.id %}">❌</a>
                                                {% endif %}
                                            </td>
                                            <td scope="row" > <a href="{% url 'edit_receiption' i.id %}">✏️</a> </td>
                                             <td scope="row"><a href="{% url 'create-user' i.id %}">✏️</a> </td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>

                                </div>
                            </div>
                        </div>
{% endblock content %}