{% extends 'base.html' %}
{% block content %}



 <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">SubCategory List</h4>
                </div>
                <div class="card-body" style="overflow-x: auto;">
                   <table class="datatable-buttons nowrap table table-striped table-bordered dataTable no-footer dtr-inline" role="grid" cellspacing="0" aria-describedby="member-details_info">
                        <thead>
                            <tr style="text-align: center;">
                                <th scope="col" width="3%">#</th>
                                <th scope="col">subcategory.name</th>


                            </tr>
                        </thead>
                        <tbody>
                            {% for subcategory in subcategories %}
                            <tr style="text-align: center;">
                                <th scope="row" width="3%">{{ forloop.counter }}</th>
                                <td scope="row"><a href="{% url 'subcategory_detail' subcategory.pk %}">{{ subcategory.name }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end cardaa -->
        </div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}